<navigation></navigation>
<div class="container">
	
	<div id="banner" class="page-header">
		<div class="row">
			<div class="col-lg-6">
				<h1>
					{{vm.pageHeader.title}}
					<small>{{vm.pageHeader.strapline}}</small>
				</h1>
			</div>
		</div>
	</div>

	
	<div class="row">
		<div class="col-xs-12 col-sm-8">
			<label ng-show="vm.transit" for="filter">Filter results</label>
			<input ng-show="vm.transit" type="text" id="filter" name="filter" ng-model="textFilter">
			<div class="error">{{vm.message}}</div>
			<div class="row list-group">
				<!-- <div ng-hide="vm.transit" class='drip'></div> -->
				<div>
					<img ng-hide="vm.transit" src="http://www.simonholmes.com/images/Walk.gif" alt="" style="display: block; margin: 0 auto;">
				</div>
				<div class="col-xs-12 list-group-item" ng-repeat="mission in vm.data.missions | filter: textFilter">
					<h4>
						<a href="/#/mission/{{mission._id}}">{{mission.name}}</a>
						<small class="rating-stars" rating-stars rating="mission.rating"></small>
						<span class="badge pull-right badge-default">{{mission.distance | formatDistance}}</span>
					</h4>
					<p class="address">{{mission.author}}</p>
					<p>
						<span class="label label-warning label-facility" ng-repeat="tag in mission.tags">{{tag}}</span>
					</p>
				</div>
			</div>
		</div>
		<div class="col-xs-12 col-sm-4">
			<p ng-hide="vm.transit" class="lead">Where are you?</p>
			<p ng-show="vm.transit" class="lead">You are here!</p>
			<img src="http://maps.googleapis.com/maps/api/staticmap?center={{ vm.position.coords.latitude }},{{ vm.position.coords.longitude }}&amp;zoom=17&amp;size=300x250&amp;sensor=false&amp;markers={{ vm.position.coords.latitude }},{{ vm.position.coords.longitude }}&amp;scale=2" class="img-responsive img-rounded">
			
		</div>
	</div>

	<footer-generic></footer-generic>
</div>